# Nutrition Tracking

1. Program allows users to enter the name of the food and brand owner and get nutrients on the food.
2. The food and brand name must be written exactly as entered in food and branded_food Excel workbooks.
3. In order for the program to work, the user needs to download the latest zipped folder as a CSV file from the Branded Data Type on the FoodData Central Website 
https://fdc.nal.usda.gov/download-datasets.html
4. When running a report, some foods will not record any nutrients or might record very few nutrients. The lack of nutrients is due to the brand company reporting few to no nutrients. No nutrients does not mean a food does not have nutrients.

# Load the modules

In [257]:
import pandas as pd

# Get the FDC ID

In [258]:
df1 = pd.read_csv('food.csv')
df4 = pd.read_csv('branded_food.csv')

C:\Users\kyles\AppData\Local\Temp\ipykernel_1068\2669597888.py:2: DtypeWarning: Columns (2,3,4,6,9,12,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv('branded_food.csv')

In [259]:
# Allows user to enter the name of the food. Input must be exact.
description = input("Enter the exact description of the food: ")
description = description.upper()
print("Description: " + description)

print()

# Allows user to enter the brand owner to find the food. Input must be exact.
brand_owner = input("Enter the exact brand name of the food: ")
brand_owner = brand_owner.upper()
print("Brand owner: " + brand_owner)

Enter the exact description of the food: Peas and Carrots
Description: PEAS AND CARROTS

Enter the exact brand name of the food: Roundy's
Brand owner: ROUNDY'S

In [260]:
""" Create dataframes using the content equal to the food and brand owner. 
    Converts the fdc_ids to lists """

df2 = df1[df1["description"] == description]
df3 = df2["fdc_id"].tolist()

df5 = df4[df4["brand_owner"] == brand_owner]
df6 = df5["fdc_id"].tolist()


# Gets the FDC ID that matches the brand owner and description.
fdcId = 0

for i in range(0, len(df3)):
    for j in range(0, len(df6)):
        if(df3[i] == df6[j]):
            fdcId = df6[j]

if fdcId == 0:
    print("FDC ID not found")
else:
    print("FDC ID: "+ str(fdcId))

FDC ID: 356721

# Get the Food Nutrient IDs

In [261]:
df_nutrients = pd.read_csv('food_nutrient.csv')

In [262]:
# Get all the nutrients that are equal to the fdcId
df_nutrients_id = df_nutrients[df_nutrients["fdc_id"] == fdcId]

In [263]:
print(df_nutrients_id)

             id  fdc_id  nutrient_id   amount  data_points  derivation_id  \
642459  4908190  356721         1008    67.00          NaN           70.0
642460  4908193  356721         1093    33.00          NaN           70.0
642461  4908192  356721         1079     3.30          NaN           70.0
642462  4908189  356721         1005    10.00          NaN           70.0
642463  4908191  356721         2000     4.44          NaN           70.0
642464  4908188  356721         1003     2.22          NaN           70.0
642465  4908194  356721         1257     0.00          NaN           70.0
642466  3359779  356721         1089     0.80          NaN           75.0
642467  3359780  356721         1104  1667.00          NaN           75.0
642468  3359778  356721         1087     0.00          NaN           75.0
642469  3359781  356721         1162     5.30          NaN           75.0
642470  3359777  356721         1004     0.00          NaN           75.0
642471  3359782  356721         1253     0.00          NaN           75.0
642472  3359783  356721         1258     0.00          NaN           75.0

        min  max  median  footnote  min_year_acquired
642459  NaN  NaN     NaN       NaN                NaN
642460  NaN  NaN     NaN       NaN                NaN
642461  NaN  NaN     NaN       NaN                NaN
642462  NaN  NaN     NaN       NaN                NaN
642463  NaN  NaN     NaN       NaN                NaN
642464  NaN  NaN     NaN       NaN                NaN
642465  NaN  NaN     NaN       NaN                NaN
642466  NaN  NaN     NaN       NaN                NaN
642467  NaN  NaN     NaN       NaN                NaN
642468  NaN  NaN     NaN       NaN                NaN
642469  NaN  NaN     NaN       NaN                NaN
642470  NaN  NaN     NaN       NaN                NaN
642471  NaN  NaN     NaN       NaN                NaN
642472  NaN  NaN     NaN       NaN                NaN

In [264]:
# Create a list of nutrient ids and nutrient amounts
nutrient_ids = df_nutrients_id["nutrient_id"].tolist()
nutrient_amounts = df_nutrients_id["amount"].tolist()

# Get Name of Nutrient and Unit

In [265]:
df_nutrient = pd.read_csv("nutrient.csv")

In [266]:
#Get all the ids that are in nutrient ids list and assign the to dataframe
df_nutrients = df_nutrient[df_nutrient["id"].isin(nutrient_ids)]

In [267]:
print(df_nutrients)

       id                            name unit_name
4    1003                         Protein         G
5    1004               Total lipid (fat)         G
6    1005     Carbohydrate, by difference         G
9    1008                          Energy      KCAL
80   1079            Fiber, total dietary         G
88   1087                     Calcium, Ca        MG
90   1089                        Iron, Fe        MG
94   1093                      Sodium, Na        MG
105  1104                   Vitamin A, IU        IU
163  1162  Vitamin C, total ascorbic acid        MG
254  1253                     Cholesterol        MG
258  1257        Fatty acids, total trans         G
259  1258    Fatty acids, total saturated         G
415  2000    Sugars, total including NLEA         G

In [268]:
# Create a list of nutrient names and units
nutrient_names = df_nutrients["name"].tolist()
nutrient_units = df_nutrients["unit_name"].tolist()

# Print the Nutrients

In [269]:
# Loop through the names of nutrients and return the name, amount, and unit
for i in range(0, len(nutrient_names)):
    print(nutrient_names[i])
    print(str(nutrient_amounts[i]) + " " + nutrient_units[i])

Protein
67.0 G
Total lipid (fat)
33.0 G
Carbohydrate, by difference
3.3 G
Energy
10.0 KCAL
Fiber, total dietary
4.44 G
Calcium, Ca
2.22 MG
Iron, Fe
0.0 MG
Sodium, Na
0.8 MG
Vitamin A, IU
1667.0 IU
Vitamin C, total ascorbic acid
0.0 MG
Cholesterol
5.3 MG
Fatty acids, total trans
0.0 G
Fatty acids, total saturated
0.0 G
Sugars, total including NLEA
0.0 G

# Get Number of Servings

In [270]:
df5 = df5[df5["fdc_id"] == fdcId]

In [271]:
df5.head()

,fdc_id,brand_owner,brand_name,subbrand_name,gtin_upc,ingredients,not_a_significant_source_of,serving_size,serving_size_unit,household_serving_fulltext,branded_food_category,data_source,package_weight,modified_date,available_date,market_country,discontinued_date,preparation_state_code,trade_channel,short_description
45137,356721,ROUNDY'S,NaN,NaN,011150548878,"PEAS, CARROTS.",NaN,90.0,g,0.66 cup,Frozen Vegetables,LI,NaN,2018-01-06,2019-04-01,United States,NaN,NaN,NaN,NaN

In [272]:
serving_size = df5["serving_size"].tolist()
serving_size_unit = df5["serving_size_unit"].tolist()
household_serving = df5["household_serving_fulltext"].tolist()

In [273]:
print("Serving size is " + str(serving_size[0]) + serving_size_unit[0])
print("equivalent to " + household_serving[0])
servings = input("How many servings did you consume? ")

Serving size is 90.0g
equivalent to 0.66 cup
How many servings did you consume? 2

# Multiply Nutrients Serving by Number Servings

In [274]:
for i in range(0, len(nutrient_amounts)):
    nutrient_amounts[i] *= float(servings)

In [275]:
print(nutrient_amounts)

[134.0, 66.0, 6.6, 20.0, 8.88, 4.44, 0.0, 1.6, 3334.0, 0.0, 10.6, 0.0, 0.0, 0.0]

# Get Ingredients

In [276]:
ingredients = df5["ingredients"].tolist()

In [277]:
print(ingredients[0])

PEAS, CARROTS.

# Create Main Dataframe

In [278]:
nutrients = df_nutrient["name"].tolist()

In [279]:
dfmain = pd.DataFrame(columns=nutrients)

In [280]:
dfmain.head()

Empty DataFrame
Columns: [Energy (Atwater General Factors), Energy (Atwater Specific Factors), Solids, Nitrogen, Protein, Total lipid (fat), Carbohydrate, by difference, Fiber, crude (DO NOT USE - Archived), Ash, Energy, Starch, Sucrose, Glucose, Fructose, Lactose, Maltose, Amylose, Amylopectin, Pectin, Alcohol, ethyl, Pentosan, Pentoses, Hemicellulose, Cellulose, pH, Specific Gravity, Organic acids, Acetic acid, Aconitic acid, Benzoic acid, Chelidonic acid, Chlorogenic acid, Cinnamic acid, Citric acid, Fumaric acid, Galacturonic acid, Gallic acid, Glycolic acid, Isocitric acid, Lactic acid, Malic acid, Oxaloacetic acid, Oxalic acid, Phytic acid, Pyruvic acid, Quinic acid, Salicylic acid, Succinic acid, Tartaric acid, Ursolic acid, Solids, non-fat, Carbohydrate, by summation, Water, Adjusted Nitrogen, Adjusted Protein, Piperine, Mannitol, Sorbitol, Caffeine, Theobromine, Nitrates, Nitrites, Nitrosamine,total, Energy, Sugars, Total, Solids, soluble, Glycogen, Fiber, neutral detergent (DO NOT USE - Archived), Reducing sugars, Beta-glucans, Oligosaccharides, Nonstarch polysaccharides, Resistant starch, Carbohydrate, other, Arabinose, Xylose, Galactose, Raffinose, Stachyose, Xylitol, Fiber, total dietary, Lignin, Ribose, Fiber, soluble, Theophylline, Fiber, insoluble, Total fat (NLEA), Total sugar alcohols, Calcium, Ca, Chlorine, Cl, Iron, Fe, Magnesium, Mg, Phosphorus, P, Potassium, K, Sodium, Na, Sulfur, S, Zinc, Zn, Chromium, Cr, Cobalt, Co, Copper, Cu, ...]
Index: []

[0 rows x 474 columns]

# Create DataFrame

In [281]:
amounts_totals = []
for i in range(0, len(nutrients)):
    total = 0.0
    for j in range(0, len(nutrient_names)):
        if nutrient_names[j] == nutrients[i]:
            total = nutrient_amounts[j]
    amounts_totals.append(total)
    
df = pd.DataFrame(columns=nutrients)
df.loc[0] = amounts_totals

# Concat df to dfmain

In [282]:
dfmain = pd.concat([dfmain, df])

In [283]:
dfmain

,Energy (Atwater General Factors),Energy (Atwater Specific Factors),Solids,Nitrogen,Protein,Total lipid (fat),"Carbohydrate, by difference","Fiber, crude (DO NOT USE - Archived)",Ash,Energy,...,Glycitin,Ergothioneine,Beta-glucan,Vitamin D4,Ergosta-7-enol,"Ergosta-7,22-dienol","Ergosta-5,7-dienol",Verbascose,Oligosaccharides,Low Molecular Weight Dietary Fiber (LMWDF)
0,0.0,0.0,0.0,0.0,134.0,66.0,6.6,0.0,0.0,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Output to Excel Workbook

In [284]:
dfmain.to_excel("output.xlsx", index=False)